[submodule "vendor/Goutte"]
	path = vendor/Goutte
	url = git://github.com/fabpot/Goutte.git
[submodule "vendor/Symfony/Component/CssSelector"]
	path = vendor/Symfony/Component/CssSelector
	url = git://github.com/symfony/CssSelector.git
[submodule "vendor/SahiClient"]
	path = vendor/SahiClient
	url = git://github.com/Behat/SahiClient.git
[submodule "vendor/Buzz"]
	path = vendor/Buzz
	url = git://github.com/kriswallsmith/Buzz.git
