[submodule "vendor/Goutte"]
	path = vendor/Goutte
	url = https://github.com/fabpot/Goutte.git
[submodule "vendor/Symfony/Component/CssSelector"]
	path = vendor/Symfony/Component/CssSelector
	url = https://github.com/symfony/CssSelector.git
