parameters:
    level: 8
    paths:
        - src
        - tests
    checkMissingCallableSignature: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#^Method Behat\\Mink\\Tests\\[^:]+Test(Case)?\:\:test\w*\(\) has no return type specified\.$#'
        - '#^Method Behat\\Mink\\Tests\\[^:]+Test(Case)?\:\:provide\w*\(\) has no return type specified\.$#'
        - '#^Method Behat\\Mink\\Tests\\[^:]+Test(Case)?\:\:get\w*\(\) has no return type specified\.$#'
        -
            message: '#^Method Behat\\Mink\\[^:]+\:\:\w+\(\) has parameter \$selector with no value type specified in iterable type array\.$#'
            identifier: missingType.iterableValue
        -
            message: '#^Method Behat\\Mink\\[^:]+\:\:\w+\(\) has parameter \$locator with no value type specified in iterable type array\.$#'
            identifier: missingType.iterableValue

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
