parameters:
	ignoreErrors:
		-
			message: "#^Method Behat\\\\Mink\\\\Element\\\\NodeElement\\:\\:getParent\\(\\) should return Behat\\\\Mink\\\\Element\\\\NodeElement but returns Behat\\\\Mink\\\\Element\\\\NodeElement\\|null\\.$#"
			count: 1
			path: src/Element/NodeElement.php

		-
			message: "#^Parameter \\#2 \\$value of method Behat\\\\Mink\\\\Driver\\\\DriverInterface\\:\\:selectOption\\(\\) expects string, array\\|bool\\|string\\|null given\\.$#"
			count: 1
			path: src/Element/NodeElement.php

		-
			message: "#^Cannot cast array\\|bool\\|string\\|null to string\\.$#"
			count: 2
			path: src/WebAssert.php
