<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <coverage/>

  <testsuites>
    <testsuite name="Behat Mink test suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>

</phpunit>
