name: CI

on:
  push:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  check_composer:
    name: Check composer.json
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: '8.4'
      - run: composer validate --strict --no-check-lock

  static_analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: '8.4'
      - name: Install dependencies
        run: composer update --ansi --no-progress --prefer-dist --no-interaction
      - run: vendor/bin/phpstan analyze

  tests:
    name: Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: ['7.2', '7.3', '7.4', '8.0', '8.1', '8.2', '8.3', '8.4', '8.5']
        composer_flags: [ '' ]
        minimum_stability: [ '' ]
        symfony_deprecations_helper: [ '' ]
        include:
          - php: '7.2'
            composer_flags: '--prefer-lowest --prefer-stable'
            symfony_deprecations_helper: weak
          - php: '8.4'
            minimum_stability: dev
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: "xdebug"
          php-version: "${{ matrix.php }}"
          ini-file: 'development'
          tools: composer

      - name: Configure for minimum stability
        if: "${{ matrix.minimum_stability == 'dev' }}"
        run: composer config minimum-stability dev

      - name: Install dependencies
        run: composer update ${{ matrix.composer_flags }}

      - name: Run tests
        env:
          SYMFONY_DEPRECATIONS_HELPER: "${{ matrix.symfony_deprecations_helper }}"
        run: vendor/bin/phpunit -v --coverage-clover=coverage.xml --log-junit junit.xml

      - name: Upload coverage to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
